/results/**/models/
/results/**/features/
/results/**/logs/
/results/**/features_by_fold/
/results/**/final_model/
/results/**/final_models/
!results/**/final_models/*.csv


# Ignorar arquivos compilados do Python
__pycache__/
*.pyc

# Ignorar configurações do PyCharm
.idea/

# Ignorar ambiente virtual
venv/
